body {
  body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(135deg, #ff4500, #ff8c00);
  display: flex;
  justify-content: center;
  align-items: center;
}

.ghost-canvas{
    position: relative;
    width: 600px;
    height: 400px;
    margin: 100px auto 0 auto;
}

.ghost-body{
    position: absolute;
    height: 28%;
    width: 22%;
    background-color: white;
    left: 40%;
    top:  33%;
  /*ANIMATION START*/
    animation-name: floating;
    animation-duration: 10s;
    animation-timing-function:linear;
    animation-iteration-count: infinite;
  /*ANIMATION END*/
}
.ghost-body-copy{
    position: absolute;
    height: 28%;
    width: 22%;
    background-color: white;
    left: 40%;
    top:  33%;
    z-index: 1;
}

.ghost-head{
    position: absolute;
    height: 100%;
    width: 100%;
    top: -50%;
    background-color: white;
    border-radius: 90px;
    
}
.eye-right{
    position: absolute;
    height: 22%;
    width: 20%;
    right: 22%;
    top: 40%;
    background-color: black;
    border-radius: 50%;
}
.eye-left{
    position: absolute;
    height: 22%;
    width: 20%;
    left: 22%;
    top: 40%;
    background-color: black;
    border-radius: 50%;
}
.mouth{
    position: absolute;
    height: 26%;
    width: 24%;
    left: 38%;
    top: 70%;
    background-color: black;
    border-radius: 50%;
    z-index: 2
}
.down-bubble{
    position: absolute;
    height: 55%;
    width: 100%;
    top:70%;
}

.bubble-1{
    position: absolute;
    height: 100%;
    width:25%;
    background-color: white;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
  /*ANIMATION START*/
    animation-name: bubble;
    animation-duration: 2.8s;
    animation-iteration-count: infinite;
    animation-timing-function:ease-in-out;
  /*ANIMATION END*/
}
.bubble-2{
    position: absolute;
    height: 100%;
    width:25%;
    left: 25%;
    background-color: white;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
  /*ANIMATION START*/
    animation-name: bubble;
    animation-duration: 3.2s;
    animation-iteration-count: infinite;
    animation-timing-function:ease-in-out;
  /*ANIMATION END*/
}
.bubble-3{
    position: absolute;
    height: 100%;
    width:25%;
    right: 25%;
    background-color: white;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
  /*ANIMATION START*/
    animation-name: bubble;
    animation-duration: 3.4s;
    animation-iteration-count: infinite;
    animation-timing-function:ease-in-out;
  /*ANIMATION END*/
}
.bubble-4{
    position: absolute;
    height: 100%;
    width:25%;
    right: 0;
    background-color: white;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
  /*ANIMATION START*/
    animation-name: bubble;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function:ease-in-out;
  /*ANIMATION END*/
}

/*ANIMATION START*/
@keyframes bubble{
    0%{
        top: 0;
    }
    50%{
        top:20%;
    }
     100%{
        top: 0;
    }
}
@keyframes floating{
    0%{top: 33%;}
    30%{top: 40%;}
    50%{top:33%;}
    70%{top:25%;}
    100%{top:33%;}
}
/*ANIMATION END*/


.g-body {
	width:200px;
	height:400px;
	background-color: ghostwhite;
	border-top-left-radius: 100px;
	border-top-right-radius: 100px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	position: absolute;
	top: 30px;
	left: 50px;


 

* {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.line {
  width: 100vw;
}
.left, .right {
  width: 50vw;
  overflow: hidden;
  display: inline-block;
}
.left {
  color:pink;
  transform: skew(0deg, -15deg);
}
.right {
  color: black;
  transform: skew(0deg, 15deg);
}
.left .content {
  width: 100vw;
  text-align: center;
}
.right .content {
  width: 100vw;
  text-align: center;
  transform: translate(-50vw);
}
span {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size: 10vw;
  text-transform: uppercase;
  line-height: .8;
  transition: ease-out .6s;
}






 








 


