body {
	background-color: orangered;
	margin:0;
}
.g-body {
	width: 150px;
	height: 250px;
	background-color: ghostwhite;
	border-top-left-radius: 100px;
	border-top-right-radius: 100px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	position: absolute;
	top: 50px;
	left: 100px;
}
.g-right-eye {
	width: 30px;
	height: 50px;
	background-color: black;
	border-radius: 100%;
	position: absolute;
	top: 130px;
	left: 150px;
}
.g-left-eye {
	width: 30px;
	height: 50px;
	background-color: black;
	border-radius: 100%;
	position: absolute;
	top: 130px;
	left: 230px;
}
.g-mouth {
	width: 100px;
	height: 50px;
	background-color: gray;
	border-radius: 100%;
	position: absolute;
	top: 200px;
	left: 150px;
}

.g-body-alt {
	width: 150px;
	height: 250px;
	background-color: ghostwhite;
	border-top-left-radius: 100px;
	border-top-right-radius: 100px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	position: absolute;
	top: 50px;
	left: calc((100vw - 200px) / 2);
	animation-duration: 10s;
  animation-name: up-down;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes up-down {
  0% {
    top: 50px;
    left: calc((100vw - 200px) / 2);
  }
  50% {
  	top: 25px;
    left: 0;
  }
  100% {
    top: 75px;
    left: calc(100vw - 200px)
  }
}

.g-right-eye-alt {
	width: 30px;
	height: 50px;
	background-color: black;
	border-radius: 100%;
	position: absolute;
	top: 80px;
	left: 50px;
}
.g-left-eye-alt {
	width: 30px;
	height: 50px;
	background-color: black;
	border-radius: 100%;
	position: absolute;
	top: 80px;
	left: 130px;
}
.g-mouth-alt {
	width: 100px;
	height: 50px;
	background-color: gray;
	border-radius: 100%;
	position: absolute;
	top: 150px;
	left: 50px;
}


* {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.line {
  width: 100vw;
}
.left, .right {
  width: 50vw;
  overflow: hidden;
  display: inline-block;
}
.left {
  color:pink;
  transform: skew(0deg, -15deg);
}
.right {
  color: black;
  transform: skew(0deg, 15deg);
}
.left .content {
  width: 100vw;
  text-align: center;
}
.right .content {
  width: 100vw;
  text-align: center;
  transform: translate(-50vw);
}
span {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size: 10vw;
  text-transform: uppercase;
  line-height: .8;
  transition: ease-out .6s;
}







 








 


